<div class="flex-col">

<div class="card w-full py-8">
  <h2 class="font-semibold text-xl text-indigo-500">Your profile</h2>
  <p>Click on the services below to associate them with your account. This will allow you to use them to log onto the system. If you do not do this a new account may be created for you if you log on with another service.</p>
  <% if current_user.has_facebook? %>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Facebook</button>
  <% else %>
  <a href="/users/auth/facebook">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Facebook</button>
  </a>
  <% end %>
</div>

<div class="card w-full py-8">
  <h3 class="font-semibold text-xl text-indigo-500">Cancel my account</h3>
  <p>If you do not want to use this service you can cancel your account. <strong>Note that doing so will delete all your data.</strong></p>
  <p>
    <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded' %>
  </p>

</div>


<div class="container-fluid">

<!--SOCIAL-->
    </div>
  </div>
  <br/>

<% if current_user.provider.nil? -%>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true, :class => 'form-control'  %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <small id="emailHelp" class="form-text text-muted">Currently waiting confirmation for: <%= resource.unconfirmed_email %></small>
  <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :autocomplete => "off", :class => 'password_field form-control' %>
    <small id="passwordHelp" class="form-text text-muted">Leave blank if you don't want to change it</small>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :autocomplete => "off", :class => 'password_field form-control' %>
    <small id="confirmationHelp" class="form-text text-muted">Please retype your new password</small>
  </div>

  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, :autocomplete => "off", :class => 'password_field form-control' %>
    <small id="currentHelp" class="form-text text-muted">We need your current password to confirm your changes</small>
  </div>

  <div><%= f.submit "Update", :class => 'btn btn-primary' %></div>

<% end %>

<% end -%>


</div>
